:root {
    --primary-color: black;
    --secondary-color: white;
}

.navbar {
    /* width: 70%; */
    /* width: 310px; */
    width: 62px;
    margin: 32px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    height: 62px;
    position: fixed;
    right: 0;
    left: 0;
    overflow: hidden;
    background-color: var(--secondary-color);
    z-index: 1;
}

.navbar .logo {
    height: 45px;
    width: 45px;
    background-color: var(--secondary-color);
    border-radius: 32px;
    margin-left: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar .navbar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.navbar ul {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    padding-right: 20px;
    color: var(--secondary-color);
    cursor: pointer;
}

.btn {
    height: 45px;
    width: 220px;
    border-radius: 32px;
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.icon-skills {
    width: 52px;
    height: 52px;
    margin-left: 10px;
}

.hero {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: solid var(--secondary-color) 5px;
}

.project-container {
    position: relative;
    width: 100%;
    height: auto;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 7px;
}

.project-image-overlay {
    position: absolute;
    transition: all 0.3s ease;
    opacity: 0;
    background-image: linear-gradient(to bottom right, #ebf4f5, #b5c6e0);
    padding-left: 30px;
    padding-right: 30px;
}

.project-container:hover .project-image-overlay {
    opacity: 1;
}

.overlay-fade {
    width: 100%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom right, #9bafd9, #103783);
    border-radius: 7px;
}

.mobile-menu ul,
.mobile-menu ul li {
    padding: 0;
    margin: 0;
    text-align: center;
}

.mobile-menu ul {
    margin-top: 10px;
}

.mobile-menu ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 7px;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: blue
}